@using Kendo.Mvc.UI

@using LFE.Portal.Helpers


<!DOCTYPE html>
<html>
	<head>
	    <title>@ViewBag.Title</title>
        @Html.Partial("~/Views/Shared/Common/_RedirectSSL.cshtml")
		<!--[if ie]><meta http-equiv="X-UA-Compatible" content="IE=Edge" /><![endif]-->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		@Styles.Render("~/Content/kendo/"+ Url.ToKendoVersionUrl() + "/css")
		<link href="~/Content/kendo/@Url.ToKendoVersionUrl()/kendo.bootstrap.min.css" rel="stylesheet" /> 
		@Styles.Render("~/Areas/PortalAdmin/Content/styles/css")
		@Styles.Render("~/Content/styles/common")	
		
		<style>
			.list-cmd{text-decoration: underline;cursor: pointer;font-size: 14px;}
		</style>

		@Scripts.Render("~/bundles/modernizr")		   
		@Scripts.Render("~/bundles/jquery/jquery")
		@Scripts.Render("~/bundles/jquery/jqueryval")	
		@Styles.Render("~/Content/plugin/scroll")
		@Scripts.Render("~/bundles/plugin/scroll") 
		@Scripts.Render("~/bundles/kendo")
        <script src="//cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
		
		
		@Scripts.Render("~/bundles/lfe/common")		
		@Scripts.Render("~/Areas/PortalAdmin/bundles/lfe") 
		@Html.Partial("~/Views/Shared/Layout/_HeaderScripts.cshtml")

        
	    <script type="text/javascript">
			kendo.culture("en-US");

			var saveEventUrl = '@Url.Action("SaveEvent","EventApi",new{area=""})';

			var notificationManager;
		 
			$(document).ready(function () {
				window.getNotifManagerInstance().unsubscribe(notifEvents.user.showDetailsWindow, showUserDetails, null);
				window.getNotifManagerInstance().subscribe(notifEvents.user.showDetailsWindow, showUserDetails, null);

				window.getNotifManagerInstance().unsubscribe(notifEvents.video.openPlayer, showVideoPlayer, null);
				window.getNotifManagerInstance().subscribe(notifEvents.video.openPlayer, showVideoPlayer, null);
			});

			function showUserDetails(token) {
				if (token == undefined || !hasValue(token.id)) return;

				var wnd = $("#wndUserDetails").data("kendoWindow");

				var url = '@Url.Action("UserDetails", "User",new{area="PortalAdmin"})' + '/' + token.id;
				wnd.title(token.name + ' Details');
				wnd.refresh(url);
				wnd.center();
				wnd.open();
			}

			function showVideoPlayer(token) {
				if (token == undefined || !hasValue(token.id)) return;

				var wnd = $("#wndVideoPlayer").data("kendoWindow");

				var url = '@Url.Action("GetPlayer", "Home",new{area="PortalAdmin"})' + '/' + token.id;
				wnd.title(token.name);
				wnd.refresh(url);
				wnd.center();
				wnd.open();
			}

			function boundGridUserDetails(e) {
				var grid = e.sender;
				var data = grid.dataSource.data();
				$.each(data, function (i, row) {
					$('tr[data-uid="' + row.uid + '"]').find(".usr-btn").click(function () {
						var token = {
							id:$(this).attr('data-val')
							,name:$(this).html()
						};
						window.getNotifManagerInstance().notify(notifEvents.user.showDetailsWindow, token);
					});
				});
			}

			function getNotifManagerInstance() {
				if (notificationManager == undefined || notificationManager == null) {
					notificationManager = new NotificationManager();
				}
				return notificationManager;
			}
		</script>
		@RenderSection("css", false)	
		@RenderSection("scripts", false)
	</head>
	<body>
		<div class="wrap" style="overflow-x: hidden" id="main">
			@Html.Partial("_Header")
		   
			<section class="wrap clear" style="margin:10px 0 100px 0">
				@RenderBody()
			</section>        
			@Html.Partial("_Footer")                      
		</div>
		
		@Html.Partial("~/Views/Shared/Common/_LoaderTemplate.cshtml")
		
		<script id="tp-template" type="text/x-kendo-template">
			<p class="ptp">
				#=target.data('title')#
			</p>    
		</script>
		
		@(Html.Kendo().Window()
			.Name("wndUserDetails")
			.Draggable(false)
			.Actions(actions => actions.Close())
			.Resizable(builder => builder.Enabled(false))
			.Visible(false)
			.Height(800)
			.Width(1100)
			.Modal(true)
			.Events(e => e.Close("clearWndContent"))
			  )
		
		@(Html.Kendo().Window()
			.Name("wndVideoPlayer")
			.Draggable(false)
			.Actions(actions => actions.Close())
			.Resizable(builder => builder.Enabled(false))
			.Visible(false)
			.Height(440)
			.Width(640)
			.Modal(true)
			.Events(e => e.Close("clearWndContent"))
		)
		
		<script id="template-user-tabs" type="text/kendo-tmpl">
			@(Html.Kendo().TabStrip()
			.Name("tabStrip_#=UserId#")
			.SelectedIndex(0)
			.Animation(animation => animation.Open(open => open.Fade(FadeDirection.In)))
			.Items(items =>
			{
				items.Add().Text("Courses").LoadContentFrom("GetCourseReportPartial", "User", new { id = "#=UserId#" });
				items.Add().Text("Bundles").LoadContentFrom("GetBundleReportPartial", "User", new { id = "#=UserId#" });
				items.Add().Text("Purchases").LoadContentFrom("GetPurchaseReportPartial", "User", new { id = "#=UserId#" });
				items.Add().Text("Sales").LoadContentFrom("GetSalesReportPartial", "User", new { id = "#=UserId#" });
				items.Add().Text("Stores").LoadContentFrom("GetStoresReportPartial", "User", new { id = "#=UserId#" });
				items.Add().Text("Statistics").LoadContentFrom("GetStatisticsPartial", "User", new { id = "#=UserId#" });
				items.Add().Text("Videos").LoadContentFrom("GetVideoReportPartial", "User", new { id = "#=UserId#" });
				items.Add().Text("Events").LoadContentFrom("GetEventsReportPartial", "User", new { id = "#=UserId#" });
			}).ToClientTemplate())
		</script>
	</body>
</html>
