@model LFE.DataTokens.QuizQuestionDTO


<script>
    var VIDEO_FIELD_NAME = '#BcIdentifier';
    var BC_TH_PLAEYR_W = 180;
    var BC_TH_PLAEYR_H = 140;
    var uploadConsole, formValidator, formUserNotifManager;
    var videoSelectionUrl = '@Url.Action("VideoSelection", "Course",new{area="AuthorAdmin"})';

    $(document).ready(function() {

        window.uploadConsole = $('#async-upload-console');

        //$("#a-fake-thumb-upload").click(function () {
        //    $('#file').data("kendoUpload").wrapper.find("input[type='file']").click();
        //});
     
        window.getNotifManagerInstance().unsubscribe(notifEvents.course.videoSelected, onQuizVideoSelected, null);
        window.getNotifManagerInstance().subscribe(notifEvents.course.videoSelected, onQuizVideoSelected, null);

    });

    function onQuizVideoSelected(token) {
        
        if (token == null) return;

        $(VIDEO_FIELD_NAME).val(token.identifier);

        buildThumbMediaPlayer(token, '#d-video-thumb');

        $('#d-video-thumb').unbind('click');
        $('#d-video-thumb').attr({ title: '' });
   
        closeVideoWnd();

    }
</script>

<div class="thumb-container">

    

    <div class="thumb-box" id="d-video-thumb">
        @{
            if (Model.PromoVideo != null)
            {
                <script>
                    var token = {
                        stillUrl: fixSR('@Model.PromoVideo.stillUrl'),
                        title: '@Model.PromoVideo.title',
                        minutes: '@Model.PromoVideo.minutes',
                        identifier: '@Model.BcIdentifier',
                        file: fixSR('@Model.PromoVideo.videoUrl')
                    };
                    buildThumbMediaPlayer(token, '#d-video-thumb');
                </script>
            }
        }
    </div>

    <div style="margin-top: 15px;">
        @Html.HiddenFor(m => m.BcIdentifier)
        <a class="browse-video" href="javaScript:openVideoWnd()" style="">Browse video manager</a>
    </div>
</div>

@(Html.Kendo().Window()
        .Name("wndVideo")
        .Title("Select Video")
        .Draggable(false)
        .HtmlAttributes(new { @style = "overflow:hidden;" })
        .Actions(actions => actions.Close())
        .Resizable(builder => builder.Enabled(false))
        .Visible(false)
        .Height(600)
        .Width(900)
        .Modal(true)
        .Animation(false)
        .Events(e => e.Close("cleanWndContent"))
        .Content("loading video library.....")
)

<script type="text/x-kendo-template" id="kendo-video-thumb-template">
    <div class="preview" id="thumb-${identifier}" style="background: url('${fixSR(stillUrl)}') no-repeat;">&nbsp;</div>

    <div class="hint" style="display:none;" id="hint-${identifier}">
        <span class="play" id="play-${identifier}">Play</span>
    </div>

    <div style="display:none;" class="list-player jwp" id="player-#=newGuid()#"></div>
</script>