@using LFE.Core.Utils
@using LFE.Portal.Helpers

@{
    var user = this.CurrentUser();
    var returnUrl = Request.Url?.PathAndQuery ?? "";
    if (!string.IsNullOrEmpty(returnUrl))
    {
        returnUrl = HttpUtility.UrlDecode(returnUrl);
    }
}

<div class="navbar navbar-default navbar-static-top top" role="navigation">
    <div class="container main-nav-container" >
        <div class="navbar-header">
            <button type="button" class="navbar-toggle toggle-acc" data-toggle="collapse" data-target="#nav-main" value="Account settings">
                <span class="">Account settings</span>                
            </button>
            <a class="navbar-brand a-header-logo" href="@Utils.GetKeyValue("homeUrl")" target="_blank">powered by <span class="lfe">LFE</span></a>
        </div>
        <div class="navbar-collapse collapse @(User.Identity.IsAuthenticated ? "" : "user")" id="nav-main">
            <ul class="nav navbar-nav navbar-right top">
                @{
                    if (User.Identity.IsAuthenticated)
                    {
                        if (this.IsCurrentUserAdmin())
                        {
                            <li>
                                @Html.ActionLink("Portal Admin", "Index", "Home", new { Area = "PortalAdmin" }, new { style = "text-decoration:none", @class = "dt",@id="link-to-portal" })
                            </li>
                            <li class="sep"></li>
                        }
                        <li class=""><a href="@Url.Action("MyCourses", "Widget", new { area = "Widget"})">My Purchases</a></li>
                        <li class="sep"></li>
                        <li class=""><a href="@Url.Action("Index","Home",new {area="AuthorAdmin"} )" class="dt">Dashboard</a></li>
                        <li class="user"><a href="@Url.Action("UserSettings","Account",new{area=""})" class="dt"><span style="text-decoration: underline">@user.FullName</span></a></li>
                        <li class="user logout">@Html.ActionLink("Logout", "SignOff", "Account", new { area = "", returnUrl }, new{id="a-logout"})</li>
                    }
                    else
                    {
                        <li class="user"><a href="#" id="a-register">Register</a></li>
                        <li class="user login"><a href="#" id="a-login">Login</a></li>
                    }
                }
            </ul>
        </div>
    </div>
</div>

<script>
    if (window.top != window.self) {
        var links = document.getElementsByClassName('dt');
        //console.log(links);

        for (var i = 0; i < links.length; i++) {
            links[i].setAttribute("target", "_blank");
        }

      //  document.getElementById('link-to-portal').setAttribute("target", "_blank");
    }
</script>