@model LFE.DataTokens.RegisterDTO

    
    @Html.ValidationSummary(false)

    <fieldset id="fs-reg">
        <legend></legend>
        <ul class="ul-reg">
            <li>
                @Html.TextBoxFor(m => m.Nickname, new { @placeholder = "Nickname", title = "Nickname" })
                @Html.ValidationMessageFor(m => m.Nickname)
            </li>
            <li>
                @Html.TextBoxFor(m => m.FirstName, new { @placeholder = "First name", title = "First name", @style = "", @class = "inline inp-name-w" })
                @Html.TextBoxFor(m => m.LastName, new { @placeholder = "Last name", title = "Last name", @style = "", @class = "inline inp-name-w" })
            </li>
            <li>
                @Html.TextBoxFor(m => m.Email, new { @placeholder = "Email", title = "Email", @type = "email" })
                @Html.ValidationMessageFor(m => m.Email)
            </li>
            <li>
                @Html.TextBoxFor(m => m.Password, new { @placeholder = "Password, minimum 8 chars length", title = "Password, minimum 8 chars length", type = "password" }) 
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li>
                @Html.TextBoxFor(m => m.ReenterPassword, new { @placeholder = "Reenter password", title = "Reenter password", type = "password" })
                @Html.ValidationMessageFor(m => m.ReenterPassword)
            </li>
            <li class="login-info-error"><div class="inner"><div class="e-row"></div></div></li>
        </ul>
    </fieldset>
        
    <p id="p-reg-mandatory">
        <span class="star">*</span> All fields are mandatory
    </p>
    
