@using LFE.Portal.Helpers

<!DOCTYPE html>
<html>
	<head>
		<title>@ViewBag.Title</title>
		<!--[if ie]><meta http-equiv="X-UA-Compatible" content="IE=Edge" /><![endif]-->
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		@Styles.Render("~/Content/kendo/"+ Url.ToKendoVersionUrl() + "/css")
		   
		@Styles.Render("~/Areas/UserPortal/Content/styles/css")
			
		@Scripts.Render("~/Areas/UserPortal/bundles/modernizr")
		   
		@Scripts.Render("~/Areas/UserPortal/bundles/jquery")
		
		@Scripts.Render("~/bundles/kendo")
		
		<script>
			kendo.culture("en-US");
		</script> 
		  
			
		@Scripts.Render("~/Areas/UserPortal/bundles/lfe") 
		 
		<script type="text/javascript">
			var notificationManager;
		 
		
			function getNotifManagerInstance() {
				if (notificationManager == undefined || notificationManager == null) {
					notificationManager = new NotificationManager();
				}
				return notificationManager;
			}
		</script>
		@RenderSection("css", false)	
		@RenderSection("scripts", false)
	</head>
	<body>
		<div class="wrap" style="overflow-x: hidden;margin-bottom: 60px" id="main">
			@RenderBody()
		</div>
		
		<div id="site-loader" class="k-loading-mask" style="width: 100%; height: 100%; top: 0; left: 0;display: none;opacity: 0.5;background-color: #cfcfcf">
			<span class="k-loading-text">Loading...</span>
			<div class="k-loading-image"></div>
			<div class="k-loading-color"></div>
		</div>
	</body>
</html>
