@using LFE.Portal.Helpers
@{
    var viewModel = (LFE.DataTokens.BaseModelViewToken)ViewBag.MainLayoutViewModel;

    var trackingID = "Place_Holder_Temp";
    if (viewModel != null && viewModel.WebStore != null && string.IsNullOrEmpty(viewModel.WebStore.TrackingID ))
    {
        trackingID = viewModel.WebStore.TrackingID;
    }
}


<!DOCTYPE html>

<html>
<head>
    <link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width" />
    <title>STORE NAME</title>



    <link href="@Url.Action("WidgetCss", "Style", new { trackingID = viewModel != null && viewModel.WebStore != null ? trackingID : "",
                        lastUpdate = viewModel != null && viewModel.WebStore != null ? (int)(viewModel.WebStore.LastUpdate - new DateTime(1970, 1, 1)).TotalSeconds : 0 })" rel="stylesheet" />


    @Styles.Render("~/Content/kendo/" + Url.ToKendoVersionUrl() + "/css")

 
    <link href="/Content/styles/toolbar.css" rel="stylesheet"/>

    @Scripts.Render("~/bundles/modernizr")

    @Scripts.Render("~/bundles/jquery/jquery")

    @Scripts.Render("~/bundles/jquery/jqueryval")

    @Scripts.Render("~/bundles/kendo")

    @Styles.Render("~/Content/plugin/scroll")

    @Scripts.Render("~/bundles/plugin/scroll")

    <script src="~/Areas/Widget/Scripts/Html5PlaceHolder.js"></script>
    @Html.Partial("~/Views/Shared/Layout/_WixSdkScript.cshtml")
    @if (viewModel != null && viewModel.WebStore != null)
    {
        <script>
            var lfeStoreId = '@viewModel.WebStore.WebStoreID.ToString()';
            var lfeWixSiteUrl = '@(String.IsNullOrEmpty(viewModel.WebStore.WixSiteUrl) ? "" : viewModel.WebStore.WixSiteUrl)';
        </script>  
    }

    @*<script src="~/Areas/Widget/Scripts/wix/wixlayout.js"></script>*@
    
    @Html.Partial("_WixLayoutScript")

    <script type="text/javascript">
            var wixLogAppDeletedUrl = '@Url.Action("LogAppDeletedEvent", "Account", new { area = "WixEndPoint", instaceId = "instanceId_PlaceHolder", wixSiteUrl = "wixSiteUrl_PlaceHolder" })';
            var wixLogAppPublishUrl = '@Url.Action("LogAppPublishEvent", "Account", new { area = "WixEndPoint", instaceId = "instanceId_PlaceHolder", wixSiteUrl = "wixSiteUrl_PlaceHolder" })';
    </script>
    <script>
        kendo.culture("en-US");
        var saveEventUrl = '@Url.Action("SaveEvent","EventApi",new{area=""})';
    </script>
    @Scripts.Render("~/bundles/lfe/common")

    @RenderSection("CSS", false)
    
    <link href="~/Areas/Widget/Content/styles/PlaceHolder.css" rel="stylesheet" />
</head>
<body>

    @if (viewModel != null && viewModel.Status == LFE.Core.Enums.WebStoreEnums.StoreStatus.Draft && viewModel.WixViewMode == "editor")
    {
        <div class="placeholder-header">
            <div class="inner">
                <div class="title">Your online course hasn't been configured yet </div>
                <div class="subtitle">Double-Click here to set up your new course @(viewModel.WebStore != null && viewModel.WebStore.WebStoreID > 0 ? "(" + viewModel.WebStore.WebStoreName + ")" : "")</div>
            </div>
        </div>
    }

    @if (viewModel != null && !viewModel.IsSingleCourseStore)
    {
        @Html.Partial("_Header", viewModel)
    }
    else
    {
        <div style="height: 20px"></div>
    }
   
    <div class="page_content" id="main">
        <div class="indent">
            @RenderBody()
        </div>
    </div>

    @Html.Partial("~/Areas/Widget/Views/Shared/_ToolBar.cshtml", viewModel)

    @RenderSection("JS", required: false)

    @Html.Partial("~/Views/Shared/Common/_FacebookScript.cshtml")

    @Html.Action("_FeedWindow", "Home", new { area = "UserPortal" })
    
    <script>
        saveEventApi(USER_EVENTS.STORE_VIEW, '@(viewModel != null && viewModel.WebStore != null ? viewModel.WebStore.TrackingID : "")', null, null, null,null);
    </script>   
</body>
</html>
