@using LFE.DataTokens
@using LFE.Portal.Helpers
@model BasePurchaseDTO

@{
    var backgroundColor = "#FFFFFF";
    if (ViewBag.BackgroundColor != null)
    {
        backgroundColor = ViewBag.BackgroundColor;
    }

    var brightcoveVideoID = "3084309361001";
    if (!string.IsNullOrEmpty(Model.OverviewVideoIdentifier))
    {
        brightcoveVideoID = Model.OverviewVideoIdentifier;
    }
    
    var viewModel = (BaseModelViewToken)ViewBag.MainLayoutViewModel;

    //var courseID = "null";
    int? cid = null;    
    //var bundleID = "null";
    int? bid = null;
    var dto = Model as CoursePurchaseDTO;
    if (dto != null)
    {
        //courseID = "'" + dto.CourseId + "'";
        cid = dto.CourseId;
    }
    var model = Model as BundlePurchaseDTO;
    if (model != null)
    {
        //bundleID = "'" + model.BundleId + "'";
        bid = model.BundleId;
    }

    
    var isSsl = (Request.Url.Scheme.ToLower() == "https") || (viewModel != null && viewModel.IsUnderSSL);
}

<div id="msgFacebookStory" style="display:none;background-color: #f5f8f9; border:1px solid grey; height:100px; padding-top:10px">
    <div style="float:right;  padding-right:5px"><a style="border:1px solid grey;background-color: grey; color: black; font-weight: bold;" href="javascript:CloseFacebookMessage()">X</a></div>
    <div style="float:left; display:inline-block;width:100px; padding-left:20px;padding-right:20px">
        <img src="https://fbcdn-photos-f-a.akamaihd.net/hphotos-ak-prn1/t39.2080-0/851583_575133769260286_929435999_n.png" />
    </div>
    <div style="float:left;display:inline-block;padding-left:20px">
        <strong>Tell your friends about this course!</strong>
        <br />
        Lfe is posting on facebook that you have watched this chapter
        <br />
        <br />
        <a id="aFacebookSwitch" href="javascript:SetFacebookCoockie();" style="text-decoration:underline; cursor:pointer">Turn Off</a> facebook watch story notification

    </div>
</div>
<div id="msgFacebookOff" style="@(this.CurrentUser() == null ? "display:none;": "")background-color: #f5f8f9; border:1px solid grey; height:30px; padding-top:5px;margin-bottom:10px">
    <div style="float:left; display:inline-block;width:100px; padding-left:20px;">
        <img src="~/Areas/Widget/Content/images/facebook-Small-icon.png" width="25px" height="25px" />
    </div>
    <div style="float:left;display:inline-block">
        <a id="aFacebookSwitch2" href="javascript:SetFacebookCoockie();" style="text-decoration:underline; cursor:pointer">Turn Off</a> facebook watch story notification
    </div>
</div>
 <div id="player" class="player-co" >
     <script>
         var bc_Player_ID = 'myExperience-@brightcoveVideoID';        
     </script>
     @if (isSsl)
     { 
          <script language="JavaScript" type="text/javascript"   src="https://sadmin.brightcove.com/js/BrightcoveExperiences.js"></script>
          <script type="text/javascript" src="https://sadmin.brightcove.com/js/APIModules_all.js"></script>
     }
     else
     {
         <script language="JavaScript" type="text/javascript" src="http://admin.brightcove.com/js/BrightcoveExperiences.js"></script>
         <script type="text/javascript" src="http://admin.brightcove.com/js/APIModules_all.js"></script>     
     }     
     <object id="myExperience-@brightcoveVideoID" class="BrightcoveExperience">
         @if (isSsl)
         {
             <param name="secureConnections" value="true" />
             <param name="secureHTMLConnections" value="true" />
         }
         <param name="bgcolor" value="@backgroundColor" />
         <param name="width" value="600" />
         <param name="height" value="338" />
         <param name="playerID" value="1775581216001" />
         <param name="playerKey" value="AQ~~,AAABm0drRPk~,DiQRmh9VgVWZubcHWonC2cZbcR-19kzC" />
         <param name="isVid" value="true" />
         <param name="isUI" value="true" />
         <param name="includeAPI" value="true" />
         <param name="templateLoadHandler" value="myTemplateLoaded" />
         <param name="templateReadyHandler" value="myTemplateReady" />
         <param name="htmlFallback" value="true" />
         <param name="dynamicStreaming" value="true" />
         <param name="wmode" value="opaque" />
         @{
             @:<param name="@@videoPlayer" value="@brightcoveVideoID" />
         }
     </object>
      
     <script>
    var modVP, player;
    function myTemplateLoaded () {
        player = window.brightcove.getExperience("myExperience-@brightcoveVideoID");
        @if (this.CurrentUser() != null)
        {
            <TEXT>
            modVP.addEventListener(brightcove.api.events.MediaEvent.COMPLETE, onMediaComplete);
            </TEXT>
        }
    }
    function myTemplateReady() {

        modVP.addEventListener(brightcove.api.events.MediaEvent.PLAY, onMediaEventFired);
    }
    function onMediaEventFired(evt) {
        if (evt.type === "mediaPlay") {
            saveEventApi(USER_EVENTS.VIDEO_PREVIEW_WATCH,'@Model.TrackingID','@cid', '@bid', '@brightcoveVideoID',null);
        }
    }

    function PublishFacebookStory(video) {
        var isPostStory = readCookie("lfe_FacebookStory");

        if (isPostStory == '1') {
            return;
        }

        $("#msgFacebookStory").toggle();
        $("#msgFacebookOff").toggle();

        var data = {
            courseId: '@Model.CourseId'
            , chapterId: video.chapterId
            , videoId: video.videoId
            , bcId: video.bcId
        };

        $.ajax({
            url: '@Url.Action("PublishUserViewStory", "Course")',
            cache: false,
            type: "Post",
            data: JSON.stringify(data),
            datatype: "json",
            contentType: "application/json; charset=utf-8"
        });


    }
    var turnOff = "Turn Off";
    var turnOn = "Turn On";
    function CloseFacebookMessage() {
        $("#msgFacebookStory").toggle();
        $("#msgFacebookOff").toggle();
    }

    function SetFacebookCoockie() {
        var isPostStory = readCookie("lfe_FacebookStory");

        if (isPostStory == '1') {
            isPostStory = '0';
            UpdateFaceboockSwitchTitle(turnOff);
        }
        else {
            isPostStory = '1';
            UpdateFaceboockSwitchTitle(turnOn);
        }

        createCookie("lfe_FacebookStory", isPostStory, 1000);
    }

    $(document).ready(function () {
        var isPostStory = readCookie("lfe_FacebookStory");

        if (isPostStory == '1') {
            UpdateFaceboockSwitchTitle(turnOn);
        }
        else {
            UpdateFaceboockSwitchTitle(turnOff);
        }
    });

    function UpdateFaceboockSwitchTitle(text) {
        $("#aFacebookSwitch2").text(text);
        $("#aFacebookSwitch2").text(text);
    }

    function readCookie(name) {
        var nameEQ = escape(name) + "=";
        var ca = document.cookie.split(';');
        for (var i = 0; i < ca.length; i++) {
            var c = ca[i];
            while (c.charAt(0) === ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) === 0) return unescape(c.substring(nameEQ.length, c.length));
        }
        return null;
    }

    function createCookie(name, value, days) {
        var expires;

        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toGMTString();
        } else {
            expires = "";
        }

        document.cookie = escape(name) + "=" + escape(value) + expires + "; path=/";
    }
     </script>
<script type="text/javascript">brightcove.createExperiences();</script>
</div>

