@model LFE.Portal.Models.ResetLocalPasswordToken


@using (Html.BeginForm("DoResetPassword", "Account", new { area = "" }, FormMethod.Post, new { @id = "form-reset-pwd" }))
{

    @Html.AntiForgeryToken()
    @Html.ValidationSummary()
    @Html.HiddenFor(m => m.PasswordResetToken)
    <fieldset>
        <legend></legend>
        <ul class="ul-login simple-list" id="ul-reset-pwd">
            <li>
                @Html.TextBoxFor(m => m.NewPassword, new { @placeholder = "Enter new Password, minimum 8 chars", title = "Enter new Password, minimum 8 chars", type = "password" })
                @Html.ValidationMessageFor(m => m.NewPassword)
            </li>
            <li>
                @Html.TextBoxFor(m => m.ConfirmPassword, new { @placeholder = "Confirm new Password", title = "Confirm new Password", type = "password" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </li>
            <li class="login-info-error"><div class="inner"><div class="e-row"></div></div></li>
        </ul>

    </fieldset>

}
